.carousel-container {
  margin-bottom: 2rem;
  position: relative;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.carousel-wrapper {
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.carousel app-livro-card {
  flex: 0 0 auto;
  margin-right: 1rem;
  width: 200px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  display: none; /* Hidden by default */
  font-size: 1.5rem;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

/* Show arrows on desktop when hovering over the container */
@media (min-width: 768px) {
  .carousel-container:hover .arrow {
    display: block;
  }
}
