<section class="carousel-section">
  <h2 class="carousel-title">{{ title }}</h2>

  <div class="carousel-container">
    <button class="arrow left" (click)="scrollLeft()">❮</button>

    <div class="carousel" #carousel>
      <div
        class="carousel-item"
        *ngFor="let book of books; trackBy: trackByBookId"
        (click)="bookSelected.emit(book.id)"
      >
        <app-livro-card [book]="book"></app-livro-card>
      </div>
    </div>

    <button class="arrow right" (click)="scrollRight()">❯</button>
  </div>
</section>
