<div class="carousel-container">
  <h2>{{ title }}</h2>

  <div class="carousel-wrapper">
    <button class="arrow left-arrow" (click)="scrollLeft()" aria-label="Scroll Left">
      &lt;
    </button>

    <div class="carousel" #carousel>
      <div
        *ngFor="let book of books; trackBy: trackByBookId"
        (click)="bookSelected.emit(book.id)"
      >
        <app-livro-card [book]="book"></app-livro-card>
      </div>
    </div>

    <button class="arrow right-arrow" (click)="scrollRight()" aria-label="Scroll Right">
      &gt;
    </button>
  </div>
</div>
