<app-menu />
<div class="about-container">
  <div class="about-content">
    <h1>Sobre a Biblioteca Digital</h1>
    <p>
      Bem-vindo à nossa Biblioteca Digital, um projeto de código aberto que oferece acesso a uma vasta coleção de livros de diversos gêneros e autores. Nossa missão é democratizar o acesso à informação e à cultura, disponibilizando um acervo de qualidade para todos, de forma gratuita e irrestrita.
    </p>
    <p>
      Explore nosso catálogo, descubra novos autores, mergulhe em histórias fascinantes e expanda seus horizontes. Acreditamos no poder transformador da leitura e queremos compartilhar essa paixão com você.
    </p>
    <div class="about-image">
      <img src="https://source.unsplash.com/random/800x600?library" alt="Imagem de uma biblioteca">
    </div>
  </div>
</div>
