<div class="favoritos-container">
  <h2>Meus Favoritos</h2>

  @if (favoriteBooks().length === 0) {
    <p>Você ainda não adicionou nenhum livro aos seus favoritos.</p>
  } @else {
    <div class="book-grid">
      @for (book of favoriteBooks(); track book.id) {
        <a [routerLink]="['/livro', book.id]">
          <div class="book-card">
            <img [src]="book.coverUrl" [alt]="book.title" class="book-cover">
            <div class="book-info">
              <h3>{{ book.title }}</h3>
              <p>{{ book.author }}</p>
            </div>
          </div>
        </a>
      }
    </div>
  }
</div>
