<div class="container">
  <h1>Redefinir Senha</h1>
  <div class="columns">
    <div class="column column-token">
      <h2>REDEFINIR SENHA</h2>
      <form (submit)="sendToken($event)">
        <div class="form-group">
          <label for="email">Username ou E-mail de recuperação</label>
          <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Enviar Token</button>
      </form>
    </div>
    <div class="column column-reset" [class.visible]="isTokenSent()">
      <h2>2. Redefinir sua senha</h2>
      <form>
        <div class="form-group">
          <label for="token">Token</label>
          <input type="text" id="token" name="token" required>
        </div>
        <div class="form-group">
          <label for="password">Nova Senha</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirmar Senha</label>
          <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
        <button type="submit">Redefinir Senha</button>
      </form>
    </div>
  </div>
</div>
