.book-details-container {
    display: flex;
    padding: 40px;
    gap: 40px;
    color: #fff;
    max-width: 1200px;
    margin: auto;
  }
  
  .book-cover img {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
  
  .book-info {
    display: flex;
    flex-direction: column;
  }
  
  .book-info h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .book-info h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 20px 0;
    color: #ccc;
  }
  
  .category {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    align-self: flex-start;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .add-to-cart-btn {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #f6121d;
  }