.catalog-container {
    padding: 2rem;
    background-color: #141414; /* Cor de fundo escura */
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
  }