.catalogo-wrapper {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  padding: 40px;
  font-family: 'Poppins', sans-serif;
}

.catalog-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
