:host {
  display: block;
  height: 100%;
}

/* Layout */
.main-layout {
  display: flex;
  background: #1f1f1f;
  color: #fff;
  min-height: 100vh;
  transition: 0.3s ease;
}

.main-layout.sidebar-open {
  margin-left: 240px;
  width: calc(100% - 240px);
}

.content {
  flex: 1;
  padding: 2rem;
  margin-top: 60px;
  overflow-x: auto;
}

/* EMPTY STATE */
.empty-box {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  background: #2a2a2a;
  border-radius: 12px;
  color: #d4d4d4;
  font-size: 1.2rem;
  border: 1px solid #444;
  animation: fadeIn .3s ease;
}

/* Bulk action buttons */
.bulk-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-bottom: 1.2rem;
}

.btn-block {
  padding: 0.6rem 1.4rem;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
.btn-block:hover {
  background: #222;
}

.btn-unblock {
  padding: 0.6rem 1.4rem;
  background: linear-gradient(135deg, #f2c14e, #d4a017);
  color: #1f1f1f;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
.btn-unblock:hover {
  background: linear-gradient(135deg, #ffd76b, #f2c14e);
}

/* Table */
.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  background: #222;
  border-radius: 6px;
  border-collapse: collapse;
  min-width: 900px;
}

thead {
  background: #3a3a3a;
}

th, td {
  padding: 1rem 1.2rem;
  border-bottom: 1px solid #444;
  vertical-align: top;
  line-height: 1.3rem;
  min-height: 100px;       /* 🔥 altura da linha */
  height: 100px;           /* mantém uniforme */
}

td {
  white-space: normal;
}

tbody tr:hover {
  background: #333;
}

/* Action buttons */
.actions-wrap{
    min-height: unset !important; /* 🔥 garante que não force mais */
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.btn-ban {
  padding: 6px 10px;
  background: #800f0f;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.btn-ban:hover {
  background: #300303;
}

.btn-unban {
  padding: 6px 10px;
  background: #2c2c2c;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.btn-unban:hover {
  background: #644f18;
}
