<app-home-header></app-home-header>
<div class="login-container">
  <div class="login-card">
    <div class="title">
      <h2>CRIE SUA CONTA</h2>
    </div>
    <div class="body">
      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="fullName">NOME COMPLETO</label>
          <input id="fullName" type="text" formControlName="fullName">
        </div>

        <div class="form-group">
          <label for="email">EMAIL</label>
          <input id="email" type="email" formControlName="email">
        </div>

        <div class="form-group">
          <label for="username">USERNAME</label>
          <input id="username" type="text" formControlName="username">
        </div>

        <div class="form-group">
          <label for="cpf">CPF</label>
          <input id="cpf" type="text" formControlName="cpf">
        </div>

        <div class="form-group">
          <label for="password">SENHA</label>
          <input id="password" type="password" formControlName="password">
        </div>

        <div class="form-group">
          <label for="confirmPassword">CONFIRMAR SENHA</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword">
        </div>

        <div class="form-group radio-group">
          <label>SEXO</label>
          <div class="radio-options">
            <label>
              <input type="radio" value="F" formControlName="gender"> Feminino
            </label>
            <label>
              <input type="radio" value="M" formControlName="gender"> Masculino
            </label>
          </div>
        </div>

        <div class="button-container">
          <button type="submit" class="login-button" [disabled]="cadastroForm.invalid">CADASTRAR</button>
        </div>

      </form>
      <div class="signup-link">
        <p>Já tem uma conta? <a routerLink="/login">Faça o login</a></p>
      </div>
    </div>
  </div>
</div>
