:host {
  display: block;
  padding: 2rem;
}

.home-header {
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
}

.auth-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.auth-links li:not(:last-child) {
    margin-right: 1rem;
}

.button, .button-secondary {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.button {
    background-color: #007bff;
}

.button-secondary {
    background-color: #6c757d;
}

.hero-section {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.25rem;
  color: #6c757d;
}

.content-section {
  margin-top: 2rem;
}

.text-with-image {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.text-with-image img {
  margin-right: 1rem;
  border-radius: 0.3rem;
}

.text-with-image p {
  flex: 1;
  font-size: 1rem;
  color: #212529;
}

.text-with-image:nth-child(even) img {
  order: 2;
  margin-left: 1rem;
  margin-right: 0;
}
