.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  color: #fff;
  padding: 0.75rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  z-index: 1000;
}


  
  .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
  }
  
  .logo {
    font-weight: bold;
  }
  
  input {
    background-color: #3a3a3a;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    color: #fff;
    width: 200px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .btn {
    background-color: #eaa636;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #c88522;
  }
  
  .user {
    font-weight: bold;
  }
  