.home-header {
  background-color: #151515;
  padding: 1.5rem 2rem;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #C38632;
  text-decoration: none;
}

.auth-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.auth-links li:not(:last-child) {
  margin-right: 1rem;
}

.button {
  background-color: #C38632;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #C38632;
}

.button-secondary {
  background-color: transparent;
  color: #C38632;
  border: 1px solid #C38632;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-secondary:hover {
  background-color: #C38632;
  color: white;
}
