.sidebar {
    width: 240px;
    background-color: #996c2d;
    color: white;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-logo {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-title {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    transition: background 0.3s;
  }
  
  .menu a:hover,
  .menu a.active {
    background-color: #b37d35;
  }
  