<div class="sidebar-container" [class.open]="isOpen">
  <div class="sidebar">
    <div class="logo">Menu</div>

    <div class="menu-section">
      <!-- Grupo Usuários -->
      <div class="menu-group">
        <p class="menu-category">
          <lucide-icon name="user" class="icon"></lucide-icon>
          Usuários
        </p>
        <ul>
          <li routerLink="/admin/usuarios" routerLinkActive="active">Exibir Lista</li>
          <li routerLink="/admin/aprovacoes" routerLinkActive="active">Aprovação</li>
          <li routerLink="/admin/register-user" routerLinkActive="active">Cadastrar</li>
        </ul>
      </div>

      <!-- Grupo Livros -->
      <div class="menu-group">
        <p class="menu-category">
          <lucide-icon name="book" class="icon"></lucide-icon>
          Livros
        </p>
        <ul>
          <li routerLink="/admin/livros" routerLinkActive="active">Exibir Lista</li>
          <li>Cadastrar</li>
        </ul>
      </div>

      <!-- Grupo Status API -->
      <div class="menu-group">
        <p class="menu-category">
          <lucide-icon name="bar-chart-3" class="icon"></lucide-icon>
          Status API
        </p>
        <ul>
          <li>Dashboard</li>
        </ul>
      </div>
    </div>
  </div>
</div>
