<nav class="sidebar">
    <div class="sidebar-logo">
      <h2>LOGO E NOME DO SITE</h2>
    </div>
  
    <ul class="menu">
      <li class="menu-title">Usuários</li>
      <li><a href="#">Exibir Lista</a></li>
      <li><a href="#">Aprovação</a></li>
      <li><a href="#" class="active">Cadastrar</a></li>
  
      <li class="menu-title">Livros</li>
      <li><a href="#">Exibir Lista</a></li>
      <li><a href="#">Cadastrar</a></li>
  
      <li class="menu-title">Status API</li>
      <li><a href="#">Dashboard</a></li>
    </ul>
  </nav>
  