.menu-container {
  width: 100%;
  background-color: #c38632;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 12px;
  margin-top: -70px;
}

.logo{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.selection-container{
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.search span{
  font-size: 1.8rem;
  cursor: pointer;
  }

.search-icon{
  margin-top: 5px;
}

.menu-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: white;
}

.menu-container li {
  float: left;
}

.menu-container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  transition: ease-in-out .3s;
  font-size: 22px;
  font-family: 'Alumni Sans', sans-serif;
}

.menu-container li a:hover {
  background-color: #78521d;
}

.search-input{
  border-radius: 20px;
  border: none;
  padding: 10px;
  outline: none;
  transition: all 0.4s ease-in-out;
  width: 0;
  opacity: 0;
  outline: none;
}

.search-input.visible {
  width: 200px;
  opacity: 1;
}

.active-link {
  font-weight: bold;
  text-decoration: underline !important;
}

.user-info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info p{
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}