.menu-container {
  width: 100%;
  background-color: #c38632;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 12px;
}

.logo{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.selection-container{
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right-side{
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.search span{
  font-size: 1.8rem;
  cursor: pointer;
  }

.menu-container ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu-container li {
  float: left;
}

.menu-container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  transition: ease-in-out .3s;
}

.menu-container li a:hover {
  background-color: #78521d;
}

.search-input{
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  transition: all 0.5s ease-in-out;
  width: 0;
  outline: none;
  opacity: 0;
}

.search-input.visible {
  width: 250px;
  opacity: 1;
}
