<nav class="menu-container">
  <div class="selection-container">
    <div class="logo">
      Digital Library
    </div>
    <div class="links">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/catalogo">Catálogo</a></li>
        <li><a routerLink="/sobre">Sobre</a></li>
        <li><a routerLink="/favoritos">Favoritos</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/cadastro">Cadastro</a></li>
      </ul>
    </div>
  </div>
  <div class="search">
    <div class="search-icon">
      <span class="material-symbols-outlined">
        search
      </span>
    </div>
    <div class="user-info">
      <span class="material-symbols-outlined">
        person
      </span>
    </div>
  </div>
</nav>
