<nav class="menu-container">
  <div class="selection-container">
    <div class="logo">
      Midas Vault
    </div>

    <div class="links">
      <ul>
        <li>
          <a routerLink="/catalogo" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/meu-perfil" routerLinkActive="active-link">
            Minha Biblioteca
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="search">
    <div class="search-icon" (click)="toggleSearch()">
      <span class="material-symbols-outlined">search</span>
    </div>

    <input type="text"
           placeholder="Pesquisar..."
           [class.visible]="isSearchVisible()"
           class="search-input">

    <!-- 🔥 USER AREA (nome + engrenagem + logout) -->
    <div class="user-info" *ngIf="username() || isPending() || isBanned()">

      <!-- 🔥 nome clicável -->
      <p (click)="goToConfig()">{{ username()?.toUpperCase() }}</p>

      <!-- 🔥 engrenagem substituindo o ícone de pessoa -->
      <span class="material-symbols-outlined"
            style="cursor:pointer;"
            (click)="goToConfig()">
        settings
      </span>

      <!-- 🔥 BOTÃO LOGOUT -->
      <button class="logout-btn" (click)="logout()">
        <span class="material-symbols-outlined">logout</span>
      </button>
    </div>
  </div>
</nav>
