.menu-container {
  width: 100%;
  background-color: #c38632;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

.selection-container{
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.menu-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu-container li {
  float: left;
}

.menu-container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  transition: ease-in-out .3s;
}

.menu-container li a:hover {
  background-color: #78521d;
}
